<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>8780095448-3md6uku68coq7gjv8ep23584mroco02n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.8780095448-3md6uku68coq7gjv8ep23584mroco02n</string>
	<key>API_KEY</key>
	<string>AIzaSyC1JYvzwmlZ_yeCnFldx_Jjqgjhyx86Zzg</string>
	<key>GCM_SENDER_ID</key>
	<string>8780095448</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>NevroOrg.Nevro</string>
	<key>PROJECT_ID</key>
	<string>nevro-be038</string>
	<key>STORAGE_BUCKET</key>
	<string>nevro-be038.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:8780095448:ios:a0a919585debb70c911cad</string>
</dict>
</plist>